{% extends 'app_note/base.html' %}
{% block title %}
<title>Ripple's adventure</title>
{% endblock title %}
{% block content %}
{% load static%}
    <header class="masthead" style="background-image:url({%static 'app_note/img/a.jpg'%})">

        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>Ripple's adventure</h1><span class="subheading">Here you can find <i>everything</i> I think adventurous</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                {% for post in  posts %}
                <div class="post-preview"><a href="post/{{ post.id }}">
                        <h2 class="post-title">{{post.title}}</h2>
                        <!--h5 class="post-subtitle"--><a href="topic/{{post.topic.id}}">{{post.topic}}</a>
                    </a>
                    <p class="post-meta">Posted at&nbsp;<a href="#">{{post.date_added}}</a></p>
                </div>
                <hr>
                {% endfor %}
                <div class="post-preview"><a href="#">
                        <h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2>
                    </a>
                    <p class="post-meta">Posted by&nbsp;<a href="#">Start Bootstrap on September 18, 2018</a></p>
                </div>
                <hr>
                <div class="post-preview"><a href="#">
                        <h2 class="post-title"> Science has not yet mastered prophecy</h2>
                        <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                    </a>
                    <p class="post-meta">Posted by&nbsp;<a href="#">Start Bootstrap on August 24, 2018</a></p>
                </div>
                <hr>
                <div class="post-preview"><a href="#">
                        <h2 class="post-title">Failure is not an option</h2>
                        <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                    </a>
                    <p class="post-meta">Posted by&nbsp;<a href="#">Start Bootstrap on July 8, 2018</a></p>
                </div>
                <hr>
                <div class="clearfix" ><button class="btn btn-primary float-end" type="button" onclick="location.href='/posts'" >All Posts&nbsp;⇒</button></div>
            </div>
        </div>
    </div>
   
    

{% endblock content %}

