{% extends "app_note/base.html" %}
{% block title %}
<title>{{post.title}}</title>
{% endblock %}
{%  block content %}
{% load static %}
    <header class="masthead" style="background-image:url({%  static 'app_note/img/post-bg.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.summary }}</h2><span class="meta">Posted &nbsp;<a href="#">happly</a>&nbsp;at {{ post.date_added }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <p>{{ post.text }}</p>

                </div>
            </div>
        </div>
    </article>
{% endblock content %}